name: Publish release

on:
  push:
    branches: [ main, develop ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  test:
    name: Run tests
    uses: ./.github/workflows/test-task.yml
    secrets: inherit

  publish:
    name: Publish release
    runs-on: ubuntu-latest
    needs: test
    permissions:
      contents: write

    steps:

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 9.x

      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Run Nerdbank.GitVersioning
        id: nbgv
        uses: dotnet/nbgv@master

      - name: Build project
        run: >-
            dotnet build ./LanguageTags/LanguageTags.csproj
            --output ./Publish/
            --configuration ${{ endsWith(github.ref, 'refs/heads/main') && 'Release' || 'Debug' }}
            -property:Version=${{ steps.nbgv.outputs.AssemblyVersion }}
            -property:FileVersion=${{ steps.nbgv.outputs.AssemblyFileVersion }}
            -property:AssemblyVersion=${{ steps.nbgv.outputs.AssemblyVersion }}
            -property:InformationalVersion=${{ steps.nbgv.outputs.AssemblyInformationalVersion }}
            -property:PackageVersion=${{ steps.nbgv.outputs.SemVer2 }}

      - name: Publish to NuGet.org
        run: >-
            dotnet nuget push ${{ github.workspace }}/Publish/*.nupkg
            --source https://api.nuget.org/v3/index.json
            --api-key ${{ secrets.NUGET_API_KEY }}
            --skip-duplicate

      - name: Zip output
        run: |
          cp ./LanguageData/*.json ./Publish/
          7z a -t7z ./Publish/LanguageTags.7z ./Publish/*

      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          tag_name: ${{ steps.nbgv.outputs.SemVer2 }}
          prerelease: ${{ !endsWith(github.ref, 'refs/heads/main') }}
          files: |
            LICENSE
            README.md
            ./Publish/LanguageTags.7z
